body {
  padding: 30px;
  color: #ff465e;
  background-image: url("https://megleechin.com/sites/megleechin.com/files/image/Crowd.jpg");
  background-size: 100% 100%;
}

.header {
  font-family: 'Arial', Arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  vertical-align: middle;
}

.text-column {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  font-weight: normal;
}

.music {
  color: white;
}

.new {
  color: white;
}

.login {
	border-radius: 2px;
	border: 1.5px light grey;
	cursor: pointer;
	color: grey;
	font-size: 15px;
  padding: 15px 15px;
  box-shadow: 0 1px 2px black;
  position: absolute;
  top: 4.5vh;
  right: 1vw;
  background-color: white;
}

.google {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.main-icon {
  height: 60px;
  width: 60px;
  vertical-align: middle;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid rgb(148, 148, 148);
  width: 100%;
  padding: 10px;
}

button[type=submit] {
  background-color: #ff465e;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 20px;
  text-decoration: none;
  margin: 5px 5px;
  cursor: pointer;
  width: 100%;
}

.userContainer {
  background-color: white;
  color: black;
  font-weight: normal;
  padding: 20px;
}

.user-name {
  font-size: 40px;
  vertical-align: middle;
  padding: 15px;
}