body {
  font: 14px "Helvetica", Arial, sans-serif;
  display: block;
}

.header {
  font-size: 50px;
  padding: 0;
}

.text-column {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
}

.share {
  color: red;
}

.discover {
  color: red;
}

.login {
	border-radius: 2px;
	border: 1.5px light grey;
	cursor: pointer;
	color: grey;
	font-size: 15px;
  padding: 15px 15px;
  box-shadow: 0 1px 2px black;
  position: fixed;
  top: 0;
  right: 0;
}

.google {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.main-icon {
  height: 60px;
  width: 60px;
  vertical-align: middle;
}

#users {
  border: 10px solid black;
  padding: 10px;
}